body{
    margin:0%;
    padding: 0%;
    font-size: 2.5em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 
}
.miembro__pasion{
    display: none;
}
.container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 200px auto auto;
    justify-items: center;
}
.container__titulo{
    font-size: 3.5em;
grid-column-start: 1;
grid-column-end: span col3;
}

.container__miembro1{
    place-self: center;
    grid-column-start:2;
   
}
.container__miembro2{
    grid-column-start: 1;
}
.container__miembro3{
    grid-column-start: 3;
}


img:hover {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    transition:all 0.10s;


}
.imagen1{
    
    filter: grayscale(100%);
    width: 300px;
    min-height: 290px;
    min-width: 290px;
    display:block;
}
.imagen2{
    display: none;
}

.miembro__foto1:hover .imagen1{
    
    display: none;
}
.miembro__foto1:hover .imagen2{
    display: block;
    width: 50%;
    min-height: 290px;
    min-width: 290px;
}
.container__miembro1:hover .miembro__cargo{
    display: none;
}
.container__miembro1:hover .miembro__pasion{
    display: block;
    color:cadetblue;
}

@media screen and (max-width:600px) {
    .container{       
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto;
    }
    .container__titulo{
        font-size:2.1em;
        grid-row-start: 1;
    
    }
    .container__miembro2{
        grid-row-start: 2;
    }
    .container__miembro1{
        place-self: center;
        grid-row-start:3;
       
    }
    .container__miembro3{
        grid-row-start: 4;
    }
}