#container {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40%;
}

.foto {
    filter: grayscale(150%);
    width: 290px;
    height: 290px;
    background-image: url("./Blank\ 6\ Grids\ Collage.png");
    background-repeat: no-repeat;
    background-position: top center;
}

#divImagen:hover .foto {
    
    background-image: url("./Blank\ 6\ Grids\ Collage.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    filter: grayscale(0%) contrast(150%);
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 1.5s;
}

#divFrase:hover h1 {

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.5%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}