vendor
composer
composer.phar
composer.lock
config/database.php
library/Database.php
tests/DatabaseTest.php
config/mail.php
logs/app.log
chatapp/node_modules/*
tickets/node_modules
chatapp/node_modules
uploads/*
newTickets/node_modules
newTickets/pakage-lock.json
newTickets/pakage.json
newTickets/webpack.config.js
nodejs/newTickets/package-lock.json
nosejs/newTickets/package.json