
header{
    display: flex;
    flex-direction: row;
}

header button,img{
    width: 15%;
    height: 30px;
    margin: 0 auto;
}
button{
    background-color: darkturquoise;
}
aside{
    border: 1px solid black;
    width: 12.5%;
    height: 35vw;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    float: left;
    padding-top: auto;
}

aside *{

    text-align: center;
}
section{
    border: 1px solid black;
    width: 71.5%;
    height: 35vw;
    margin: 0%;
   display: flex;
   float: left;
    
}
.floatDerecha{
     float: right; 
     display:inline;
}

.contorno{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
}
#calendario{
    
    height: 8vw;
    
}

#tareas{
    
    height: 16vw;
}
#chat{
    height: 4vw;
}
footer{
    width: 100%;
    height: 5vw;
    /* margin-top: 1%; */
    /* float: left; */
    clear: both;
    
}